.Container{
    background-color: #fff;
    height: 450px;
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.165); 
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.165);
}

.Personalinfo div{
    display: flex;
}

.values{
    padding-top: 10px;
    font-size: 17px;
    margin-left: 50px;
    color: #03365a;
    font-weight: 500;
}

.value{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 17px;
    font-size: 15px;
    color: #ff8400;
    font-weight: 500;
}

.Heads{
    padding-top: 30px;
    color: #ff8400;
    text-align: center;
}

hr{
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
    background-color: #03365a;
    outline: none;
    height: 1px;
    border: none;

}

.info2{
    height: 350px;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.165);
    margin-left:5%;
    margin-top: 0px;
    width: 90%;
 
}

.info{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    background-color:#03365a06;
}

.photo img{
    margin-right: 50px;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* Account Info */
.Head{
    color: #03365a;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.Active{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ddd;

}

.display{

    margin-top: 25px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    background-color: rgb(38, 201, 38);
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.smttext{
    margin: 30px;
    top: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 40%;
     padding: 10px 25px 10px 25px;
     font-size: 20px;
     font-weight: 500;
     color: azure;
     background-color: #ff8400;
     border:none;
     border-radius:15px ;
     -webkit-border-radius:15px ;
     -moz-border-radius:15px ;
     -ms-border-radius:15px ;
     -o-border-radius:15px ;
     transition:all 0.3s ease ;
     -webkit-transition:all 0.3s ease ;
     -moz-transition:all 0.3s ease ;
     -ms-transition:all 0.3s ease ;
     -o-transition:all 0.3s ease ;
     text-decoration: none;
}

.smttext:hover{
    border:none;
    color: #ff8400;
    background-color: #03365a;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.statusinfo{
    margin-top:0px ;

}

.statuscheck{
    margin-left: 50px;
    font-size: 8px;
    color: #03365a;
}

.name{
    font-weight: 600;  
}
.figure{
    font-weight: 500;
    color: #ff84009c;
}

.statuscheck1{
    margin-top: 0px;
}

.statuscheck2{
    margin-top: 30px;
}